#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #4e0108;
  margin-top: 60px;
}

h1 {
  font-size: 2em;
  color: #016d1c;
}

.basket {
  text-align: left;
}

.item {
  padding: 10px;
  border: 1px solid #4e0108;
  border-radius: 5px;
  margin-top: 10px;
  width: 50vw;
}

.christmas {
  font-size: 2em;
  color: red;
}